<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.VibeStay.member.MemberDAO">
	<!-- 이메일로 회원 정보 조회 -->    
    <select id="selectMemberByEmail" parameterType="String" resultType="com.project.VibeStay.member.MemberVO">
	    SELECT 
		   	MEMBER_IDX,
	        MEMBER_ID,
	        MEMBER_PWD,
	        MEMBER_NAME,
	        MEMBER_EMAIL,
	        DEL_YN,
	        REG_DATE,
	        MOD_DATE
		FROM tb_member
		WHERE MEMBER_EMAIL=#{memberEmail} AND DEL_YN = 'N';
    </select>
    
	<!-- 아이디로 회원 정보 조회 -->    
    <select id="selectMemberById" parameterType="String" resultType="com.project.VibeStay.member.MemberVO">
	    SELECT 
		   	MEMBER_IDX,
	        MEMBER_ID,
	        MEMBER_PWD,
	        MEMBER_NAME,
	        MEMBER_EMAIL,
	        DEL_YN,
	        REG_DATE,
	        MOD_DATE
		FROM tb_member
		WHERE MEMBER_ID=#{memberId} AND DEL_YN = 'N';
    </select>
	
	<!-- 회원가입 (insert) -->
	<insert id="insertMember" parameterType="com.project.VibeStay.member.MemberVO" 
        useGeneratedKeys="true" keyProperty="memberIdx">
	    INSERT INTO tb_member (MEMBER_ID, MEMBER_PWD, MEMBER_NAME, MEMBER_EMAIL, DEL_YN, REG_DATE)
	    VALUES (#{memberId}, #{memberPwd}, #{memberName}, #{memberEmail}, 'N', NOW());
	</insert>	
	
	<!-- 아이디 중복 체크 -->
	<select id="countByMemberId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tb_member WHERE MEMBER_ID=#{memberId};
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select  id="countByMemberEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tb_member WHERE MEMBER_EMAIL=#{memberEmail};
	</select>
</mapper>